body{
    background-color: #c4ffff;
    text-align: center;
    font-family: fantasy;
}

.container{
    margin:auto; 
    max-width: 400px;
    background-color: #009092;
    padding: 180px;
    font-family: sans-serif;
    border: 2px solid #00c6c7 ;
}

.form{
    border: 2px solid #4e0000;
    background-color: #8bffff;
    font-family: sans-serif;
}


.buttonRegister{
    font-family: fantasy;
    background-color: #00ffff;
}

.info{
    font-family: sans-serif;
}